<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Stock Pattern Analyzer</title>
    <link rel="stylesheet" href="/assets/stylesheets/main.css">
  </head>
  <body>
    <h1>Short Term Investing Basics</h1>>
    <ul>
      <li>
        <h2>Cup Length:</h2>
        <p>Cups should last between 7 and 65 weeks long, but are typically between 12 and 48 weeks.</p>
      </li>
      <li>
        <h2>Cup Depth:</h2>
        <p>Measured realtive to the previous high, cups should only see a 12% to 33% decrease to be considered healthy.</p>
      </li>
      <li>
        <h2>Prior Uptrend:</h2>
        <p>Prior uptrends need to have an increase of at least 30% from the previous low, and they should also see a substantial increase in trading volume along the way.</p>
      </li>
    </ul>
  </body>
</html>