<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Stock Pattern Analyzer</title>
    <link rel="stylesheet" href="/assets/stylesheets/main.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.rawgit.com/etpinard/plotlyjs-finance/master/plotlyjs-finance.js"></script>
  </head>
  <body>
    <nav>
      <div id="tickerSubmitButton" class="button">Search</div>
      <label id="tickerTextboxLabel"><input type="text" id="tickerTextbox" placeholder="Example: GOOGL"/></label>
    </nav>
    
    <section>
      <h1>Stock Pattern Analyzer</h1>
      <div id="ohlcChart" class="chart"></div>
      <div id="volumeChart" class="chart"></div>
    </section>

    <aside>
      <h1>Short Term Investing Basics</h1>
      <ul>
        <li>
          <h2>Cup Length:</h2>
          <p>Cups should last between 7 and 65 weeks long, but are typically between 12 and 48 weeks.</p>
        </li>
        <li>
          <h2>Cup Depth:</h2>
          <p>Measured realtive to the previous high, cups should only see a 12% to 33% decrease to be considered healthy.</p>
        </li>
        <li>
          <h2>Prior Uptrend:</h2>
          <p>Prior uptrends need to have an increase of at least 30% from the previous low, and they should also see a substantial increase in trading volume along the way.</p>
        </li>
      </ul>
    </aside>
    
    <footer>
      Footer
    </footer>
    
    <script type="text/javascript" src="/assets/javascripts/buildChart.js"></script>
    <!-- GitHub strict MIME type enforcement workaround -->
    <!--<script src="https://cdn.rawgit.com/mjstromberg/stock-patterns/master/assets/javascripts/buildChart.js"></script>-->
  </body>
</html>

















