<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Stock Pattern Analyzer</title>
    <link rel="stylesheet" href="/assets/stylesheets/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='shortcut icon' href='/assets/favicon/favicon.ico' type='image/x-icon'/ >
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.rawgit.com/etpinard/plotlyjs-finance/master/plotlyjs-finance.js"></script>
  </head>
  <body>
    <nav>
      <div id="headerContainer">
        <div id="header-stack">
          <h1 id="header">Stock Pattern Analyzer</h1>
          <h2 id="sub-header">Search A Ticker Symbol And Analyze For Basic Cup Patterns</h2>
        </div>  
      </div>
      <div id="menu-container">
        <div class="show-menu">
          <i class="material-icons md-36">more_vert</i>
          <input type="checkbox" id="show-menu" role="button">
        </div>
      </div>
      <div id="searchBar">
        <div id="tickerTextboxContainer">
          <div id="tickerTextboxDiv">
            <input type="text" id="tickerTextbox" placeholder="Example: GOOGL"/>
          </div>
        <i id="tickerSubmitButton" class="material-icons md-36 button">search</i>
        </div>
      </div>
    </nav>
    
    <div id="banner"></div>
    
    <section>
      <div id="ohlcChart" class="chart"></div>
      <div id="volumeChart" class="chart"></div>
    </section>

    <aside>
      <h2 id="asideTitle">Short Term Investing Basics</h2>
      <ul>
        <li>
          <h3>Cup Length:</h3>
          <p>Cups should last between 7 and 65 weeks long, but are typically between 12 and 48 weeks.</p>
        </li>
        <li>
          <h3>Cup Depth:</h3>
          <p>Measured realtive to the previous high, cups should only see a 12% to 33% decrease to be considered healthy.</p>
        </li>
        <li>
          <h3>Prior Uptrend:</h3>
          <p>Prior uptrends need to have an increase of at least 30% from the previous low, and they should also see a substantial increase in trading volume along the way.</p>
        </li>
      </ul>
    </aside>
    
    <footer>
      <div id="footerContainer">
        <a id="footerContact" href="mailto:michaeljstromberg@gmail.com">
          Feedback? michaeljstromberg@gmail.com
        </a>
      </div>
    </footer>
    
    <script type="text/javascript" src="/assets/javascripts/buildChart.js"></script>
    <!-- GitHub strict MIME type enforcement workaround -->
    <!--<script src="https://cdn.rawgit.com/mjstromberg/stock-patterns/master/assets/javascripts/buildChart.js"></script>-->
  </body>
</html>

















