/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ======================================================== */

body {
	font-family: "Verdana", Sans-serif;
	box-sizing: border-box;
	position: relative;
	min-height: 100vh;
}

nav {
	width: 100vw;
	height: 50px;
}

section {
	width: 100vw;
}

aside {
	display: none;
	width: 25vw;
	float: right;
	word-break: normal;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100vw;
	height: 50px;
	border-top: 1px solid rgb(8,82,107);
	background: rgb(255,255,255);
}

.chart {
	margin: auto;
	width: inherit;
	max-width: 800px;
	min-width: 400px;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	border-color: rgb(8,82,107);
}

#header {
	font-size: 1.9em;
	color: rgb(8,82,107);
}

#headerContainer {
  display: flex;
	align-items: center;
	float: left;
	height: 100%;
	margin: 0px 0px 0px 10px;
}

#sub-header {
	font-size: 0.75em;
	color: rgb(8,82,107);
	margin: 3px 0px 0px 0px;
}

#header-stack {
}

#banner {
	clear: both;
	height: 1px;
	background: rgb(8,82,107);
	margin-bottom: 20px;
}

#asideTitle {
	font-size: 30px;
	color: rgb(8,82,107);
	margin: 10px;
}

#ohlcChart {
	height: 46.875vw;
	max-height: 500px;
	min-width: 189.5px;
	margin-top: 20px;
}

#volumeChart {
	border-top: none;
	height: 15vw;
	max-height: 100px;
	min-width: 61px;
}

#searchBar {
	float: right;
	height: 100%;
	width: 220px;
	display: flex;
	align-items: center;
	margin-right: 10px;
}

#tickerTextboxContainer {
	float: right;
	position: relative;
	height: 36px;
}

#tickerTextboxDiv {
	position: absolute;
	right: -220px;
}

#tickerTextbox {
	font-size: 15px;
	padding-left: 5px;
	width: 200px;
	height: 30px;
}

#tickerSubmitButton {
	position: absolute;
	right: -220px;
	width: 36px;
	height: 36px;
}

#footerContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

#footerContact {
	font-size: 1em;
	color: rgb(8,82,107);
	margin: 10px;
	text-decoration: none;
}

#menu-container {
	float: right;
	display: flex;
	align-items: center;
	height: 100%;
}

.button {
	cursor: pointer;
	border: 1px;
	outline: 0;
}

.material-icons.md-36 {
	font-size: 36px;
	color: rgb(8,82,107);
}

.material-icons.md-48 {
	font-size: 48px;
	color: rgb(255,149,3);
}

.show-menu {
	background: rgb(255,255,255);
	height: 36px;
	width: 36px;
	margin: 0px 10px 0px 0px;
	display: block;
}

input[type=checkbox] {
	display: none;
}

input[type=checkbox]:checked ~ .show-menu {
	display: block;
}