/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ======================================================== */

body {
	font-family: Arial;
	box-sizing: border-box;
}

nav {
	width: 100vw;
	height: 50px;
}

section {
	/*float: left;*/
	/*width: 75vw;*/
}

aside {
	display: none;
	width: 25vw;
	float: right;
	word-break: normal;
}

footer {
	clear: both;
}

.chart {
	margin: auto;
	width: inherit;
	max-width: 800px;
	min-width: 400px;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	border-color: rgb(8,82,107);
}

#header {
	float: left;
	font-size: 2em;
	color: rgb(8,82,107);
	height: 100%;
}

#banner {
	clear: both;
	background: rgb(8,82,107);
	height: 1px;
	margin: 0px 0px 20px 0px;
}

#asideTitle {
	font-size: 30px;
	color: rgb(8,82,107);
	margin: 10px;
}

#ohlcChart {
	height: 46.875vw;
	max-height: 500px;
	min-width: 189.5px;
}

#volumeChart {
	border-top: none;
	height: 15vw;
	max-height: 100px;
	min-width: 61px;
}

.button {
	cursor: pointer;
	color: rgb(8,82,107);
	text-align: center;
	display: inline-block;
	border: 1px;
	outline: 0;
}

#tickerTextboxContainer {
	float: right;
	position: relative;
	width: 300px;
	height: 100%;
}

#tickerTextbox {
	position: relative;
	top: 0;
	right: 0;
	font-size: 15px;
	padding-left: 5px;
	width: 250px;
	height: 40px;
}

#tickerSubmitButton {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
}