/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ======================================================== */

body {
	font-family: Lucida Sans Unicode;
}

nav {
	background: rgb(8,82,107);
	height: 50px;
}

section {
	float: left;
	width: 74vw;
}

aside {
	width: 24vw;
	float: right;
	word-break: normal;
}

footer {
	clear: both;
}

.chart {
	width: inherit;
	margin: 0px 10px 0px 10px;
	border-style: solid;
	border-width: 2px;
	border-radius: 3px;
	border-color: rgb(8,82,107);
}

#title {
	float: left;
	font-size: 30px;
	color: rgb(255,255,255);
	margin: 10px;
}

#asideTitle {
	font-size: 30px;
	color: rgb(8,82,107);
	margin: 10px;
}

#ohlcChart {
	height: 62.5vw;
	max-height: 500px;
}

#volumeChart {
	border-top: none;
	height: 12.5vw;
	max-height: 100px;
}

.button {
	cursor: pointer;
	color: rgb(8,82,107);
	text-align: center;
	display: inline-block;
	margin: 10px;
	border: 1px;
	-webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  border-radius: 5px; 
	outline: 0;
}

#tickerTextboxLabel {
	float: right;
}

#tickerTextbox {
	margin: 10px 0px 10px 10px;
	width: 150px;
	height: 30px;
	font-size: 15px;
	padding-left: 5px;
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  border-radius: 5px; 
  border: 1px; 
}

#tickerSubmitButton {
	float: right;
	background-color: rgb(255,255,255);
	font-size: 15px;
	vertical-align: middle;
	width: 100px;
	height: 30px;
}